server:
  port: 9081

spring:
  application:
    name: consumer-service
  function:
    definition: news
  cloud:
    stream:
      bindings:
        news-in-0:
          destination: ${NEWS_SUBSCRIPTION:ps/news/>}
          group: consumerServiceGroup
          consumer:
            concurrency: 2
#      solace:
#        bindings:
#          news-in-0:
#            consumer:
#              queue-access-type: 1          # 1 is Exclusive; 0 is Non-Exclusive (and default)
#              queueAdditionalSubscriptions: # To add new subscriptions
#                - 'a/b/>'
#                - 'pub/*/plus'
      binders:
        local-solace:
          type: solace
          environment:
            solace:
              java:
                host: tcp://localhost:55555
                msgVpn: default
                clientUsername: admin
                clientPassword: admin

management:
  endpoints:
    web:
      exposure.include: beans, env, health, info, metrics, mappings
  endpoint:
    health:
      show-details: always
